.footer {
    margin-top: auto;
}

.footerContent {
    background-color: grey;
    color: white;
    width: 100%;
}

.footerLogo {
    max-width: 100px;
    max-height: 100px;
    margin-left: 10px;
}

a {
    all: unset;
}

.footerLink {
    margin-left: 10px;
}

.footerLink:hover {
    color: gold;
    font-weight: bold;
}

.footerData {
    margin-left: 10px;
}